<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="Styles/estilos.css">
</head>
<body>
    <h1>Registrate</h1>
    <form action="¡registrate!">
        <hr>
        <br>
        <h3>Nombre</h3>
        <input type="text">
        <h3>Apellido</h3>
        <input type="text">
        <h3>Correo</h3>
        <input type="text">
        <h3>Numero Telefonico</h3>
        <input type="number">
        <h3>Ciudad</h3>
        <input type="text">
        <br>
        <br>
        <button>Continuar</button>
    </form>
</body>
</html>